


    <mat-card>

        <mat-card-content>

            <form [formGroup]="formLogin" (ngSubmit)= "validarLogin()">

                <div class="row">
                <mat-form-field>
                    <mat-label>Ingrese su correo</mat-label>
                    <!-- [formControl]="email"  -->
                    <input matInput placeholder="pat@example.com" formControlName="correo" required>
                    <div class="icon" mat-icon-button matSuffix>
                        <mat-icon fontIcon="mail"></mat-icon>
                    </div>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                </div>

                <div class="row">
                <mat-form-field>
                    <mat-label>Ingrese su contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="contraseña" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                </div>

                <div class="row">
                <mat-card-actions>                   
                    <button class="btn btn-success" [disabled]="formLogin.invalid" type="submit"  routerLink="/reclamo">Ingresar</button>                   
                </mat-card-actions>
                </div>
            </form>

            <div class="row mt-2">
                <div class="col-8">
                    <span class="consulta">¿No estas registrado?</span>
                </div>
                
                <div class="col-4">
                    <a href="/registro">Registrate</a>
                </div>  
            </div>
            
        </mat-card-content>        
    </mat-card>
